<h1>候選人列表</h1>

<table>
  <thead>
    <tr>
      <td>姓名</td>
      <td>黨派</td>
      <td>年紀</td>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do | candidate | %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.age %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新增候選人", new_candidate_path %>
